    @import url('https://fonts.cdnfonts.com/css/bebas-neue');
    @import url('https://fonts.cdnfonts.com/css/telegraf');

html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'telegraf';
}

body{
    background-color: var(--cor1);
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

main{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

main header{
    font-weight: bold;
    background-color: var(--cor10);
    box-sizing: border-box;
    height: 5vh;
    width: 100%;
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main header div{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main header button{
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: 'telegraf';
    font-weight: bold;
}

main header button:hover{
    cursor: pointer;
    background-color: var(--cor4);
}

.main-conteudo{
    box-sizing: border-box;
    margin: 5vh;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sessao-filtros{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 0 15px; */
    gap: 15px;
}

.selecao-filtro{
    box-sizing: border-box;
    background-color: var(--cor10);
    flex: 1;
    height: 40px;
    /* width: 30vw; */
    padding: 0 15px;
    border-radius: 15px;
    border: none;
    border-right: 18px solid transparent;
    font-family: 'telegraf';
    font-size: 1.1em;
}

.sessao-filtros button{
    border: none;
    border-radius: 15px;
    background-color: var(--cor10);
    font-family: 'telegraf';
    padding: 10px;
}

.sessao-filtros button:hover{
    cursor: pointer;
    background-color: var(--cor4);
}

.barra-de-pesquisa{
    box-sizing: border-box;
    background-color: var(--cor10);
    height: 40px;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 0 0 0 25px;
    font-family: 'telegraf';
    font-size: 1.1em;
}

.barra-de-pesquisa::placeholder{
    font-family: 'telegraf';
}

.sessao-polos{
    border-radius: 15px;
    background-color: var(--corNavBar);
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-sessao-polos{
    font-family: 'Bebas Neue';
    border-radius: 15px;
    background-color: var(--cor10);
    box-sizing: border-box;
    height: fit-content;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
}

.item-sessao-polos .nome-polo{
    font-family: 'telegraf';
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-size: 1.9em;
}

.item-sessao-polos .endereco-polo, .item-sessao-polos .qtd-cursos{
    font-size: 1.2em;
}

.dados-curso{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dados-curso span{
    font-size: 1.8em;
}

.sessao-pag-curso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titulo-sessao-pag-curso{
    font-size: 1.8em;
}

.sessao-pag-curso table{
    width: 60%;
    font-size: 1.5em;
    border-collapse: collapse;
}

.sessao-pag-curso table td, .sessao-pag-curso table th{
    padding: 8px 16px;
    text-align: center;
    border: 2px solid black;
}

.sessao-pag-curso div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2em;
}